<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Sticky Footer
    </h1>
    <div class="sticky-footer">
      <header class="sticky-footer__header">Header</header>
      <main class="sticky-footer__main">Main</main>
      <footer class="sticky-footer__footer">Footer</footer>
    </div>

    <script src="script.js"></script>
  </body>
</html>
