/* flexbox */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* grid */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
