<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Holy Grail
    </h1>
    <div class="holy-grail">
      <header>Header</header>
      <main class="holy-grail__main">
        <!-- Left sidebar -->
        <aside class="holy-grail__left">Left</aside>

        <!-- Main content -->
        <article class="holy-grail__middle">Middle</article>

        <!-- Right sidebar -->
        <nav class="holy-grail__right">Right</nav>
      </main>
      <footer>Footer</footer>
    </div>

    <script src="script.js"></script>
  </body>
</html>
