<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Split Screen
    </h1>
    <div class="split-screen">
      <!-- Left content -->
      <div class="split-screen__half">Left</div>

      <!-- Right content -->
      <div class="split-screen__half">Right</div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
