.cookie-banner {
  /* Banner is displayed at the bottom */
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}

.cookie-banner__content {
  /* Take available width */
  flex: 1;
}
