<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Static Template
    </h1>
    <main>
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie
        lobortis sapien, sit amet iaculis est interdum tincidunt. Nunc egestas
        nibh ut metus elementum consequat. Integer elit orci, rhoncus efficitur
        lectus eu, faucibus interdum felis.
      </p>
      <p>
        <img
          class="full-width"
          src="https://picsum.photos/id/257/2560/1440.jpg"
        />
      </p>
      <p>
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nullam pretium lectus sed ex efficitur, ac varius sapien
        gravida. Sed facilisis elit quis sem sollicitudin, ut aliquam neque
        eleifend. Maecenas sagittis neque sapien, ac tempus nulla tempus nec.
        Curabitur tellus est, convallis id dolor ut, porta hendrerit quam.
      </p>
    </main>

    <script src="script.js"></script>
  </body>
</html>
