<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Static Template
    </h1>
    <p class="excerpt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod
      enim eget ultricies sollicitudin. Nunc aliquam arcu arcu, non suscipit
      metus luctus id. Aliquam sodales turpis ipsum, in vehicula dui tempor sit
      amet. Nullam quis urna erat. Pellentesque mattis dolor purus. Aliquam nisl
      urna, tempor a euismod a, placerat in mauris. Phasellus neque quam,
      dapibus quis nunc at, feugiat suscipit tortor. Duis vel posuere dolor.
      Phasellus risus erat, lobortis et mi vel, viverra faucibus lectus. Etiam
      ut posuere sapien. Nulla ultrices dui turpis, interdum consectetur urna
      tempus at.
    </p>

    <script src="script.js"></script>
  </body>
</html>
