<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      How can I ensure the footer is always at the bottom of the page?
    </h1>
    <div style="margin: 1rem;">
      Preventing the footer from floating up the page is important when trying
      to create a polished website. Pages with
      <strong>short content</strong> can run into this issue, but it's easy to
      fix with a few lines of CSS. Assuming your HTML looks something like the
      snippet below, here are two modern ways to ensure the footer is always at
      the bottom of the page:
    </div>
    <main>Main</main>
    <footer>Footer</footer>

    <script src="script.js"></script>
  </body>
</html>
