.sticky-table-headers__sticky {
  /* Background color */
  background-color: #9ca3af;

  /* Stick to the left */
  left: 0;
  position: sticky;

  /* Displayed on top of other rows when scrolling */
  z-index: 9999;
}
