.property-list {
  /* Content is center horizontally */
  align-items: center;
  display: flex;

  border-bottom: 1px solid #d1d5db;

  /* Spacing */
  margin: 0;
  padding: 0.25rem 0;
}
.property-list__key {
  /* Take the available width */
  flex: 1;
}
.property-list__value {
  margin-left: 0.5rem;
}
