<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <h1>
      Simple Grid
    </h1>
    <!-- Row -->
    <div class="simple-grid">
      <!--Cell with given width. Replace 25% with whatever you want -->
      <div class="simple-grid__cell simple-grid__cell--1/4">25%</div>

      <!-- Cell that takes remaining width -->
      <div class="simple-grid__cell simple-grid__cell--fill">...</div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
