.same-height-columns {
  display: flex;
}

.same-height-columns__column {
  flex: 1;
  /* Space between columns */
  margin: 0 8px;

  /* Layout each column */
  display: flex;
  flex-direction: column;
}

.same-height-columns__content {
  /* Take available height */
  flex: 1;
}
