.modal {
  /* Border */
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.modal__header {
  display: flex;
  justify-content: space-between;

  /* Border */
  border-bottom: 1px solid #d1d5db;
}

.modal__footer {
  display: flex;
  /* Push the buttons to the right */
  justify-content: flex-end;

  /* Border */
  border-top: 1px solid #d1d5db;
}
